:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-background-color: #2F303A;
}

body {
    background: #ffffff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/*Утилиты для списков*/
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Контейнер */
.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Базовые параметры секций */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Загаловки секций*/
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

/* Линия для шапки */
.header-page {
    border-bottom: 1px solid #ECECEC;
}

/* Логотип */
.logo {
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;
}

.logo__style {
    color: var(--accent-color)
}

/*Шапка*/
.header-page__meta {
    display: flex;
    align-items: center;
}

/*Навигация в шапке*/
.header-page__nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item {
    margin-right: 50px;
}

.site-nav__link {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link .current {
    color: var(--accent-color);
}

/* Контакты в шапке */
.contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact .contact__item+.contact__item {
    margin-left: 50px;
}

.contact__link {
    display: flex;
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact__link:hover,
.contact__link:focus {
    color: var(--accent-color)
}

/* Hero / Эффективные решения */
.section.hero {
    background-color: #2F303A;
    border: 1px solid #000000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    padding: 200px 0;
}

.hero-title {
    margin: 0 auto;
    max-width: 700px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    padding: 10px 32px;
    min-width: 200px;
    margin-top: 30px;
    cursor: pointer;
}

/* Hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Work / Наши преймущества (с условным заголовком) */
.section.work {
    padding-top: 94px;
    padding-bottom: 0;
    background-color: #ffffff;
}

.work {
    display: flex;
    justify-content: space-between;
}

.work-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.work-description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: var(--secondary-text-color);
    width: 270px;
}

/* About / Чем мы занимаемся */
.about {
    display: flex;
    justify-content: space-between;
}

/* Изображения для work */
.about-image {
    width: 370px;
}

/* Our team / Наша команда*/
.team-box {
    display: flex;
    justify-content: space-between;
}

.section.team {
    background-color: #F5F4FA;
}

.team-image {
    width: 270px;
}

.team-box .item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.team-thumbs {
    padding: 30px 0;
}

.our-team {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
}

.team-speciality {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
    color: var(--secondary-text-color);
}

/*Подвал*/
.page-footer {
    background-color: var(--secondary-background-color);
}

.page-footer__container {
    margin: 0 auto;
    width: 1200px;
    padding: 60px 15px;
}

.page-footer__container>.logo {
    color: #FFFFFF;
}

.page-footer__meta {
    margin-top: 20px;
    margin-bottom: 0;
}

.address__item {
    margin-bottom: 9px;
}

.address__item:last-child {
    margin-bottom: 0;
}

.address__location {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.address__contacts {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.address__contacts:hover,
.address__contacts:focus {
    color: var(--accent-color);
}

/*Портфолио*/
.section.project {
    background-color: #ffffff;
    border: 1px solid #EEEEEE;
}

/*Кнопки в портфолио (с условным заголовком)*/
.button-type {
    display: flex;
    margin-bottom: 34px;
    margin-top: 0;
    justify-content: center;
}

.button-item {
    margin-right: 8px;
}

.button-item:last-child {
    margin-right: 0;
}

.button-projects {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px 6px 22px;
    cursor: pointer;
}

.button-projects:hover,
.button-projects:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button-projects.all {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Projects / Cписок проектов в портфолио */
.projects-type {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.project-box {
    background: #FFFFFF;
    margin: 15px;
    width: 370px;
    flex-basis: calc((100% - 90px) / 3);
}

.project-img {
    display: block;
    width: 370px;
    height: 294px;
}

.portfolio-title {
    padding: 20px 0;
    border: 1px solid rgba(238, 238, 238, 1);
}

.portfolio-projects {
    margin: 0 0 4px 24px;
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-type {
    margin: 0 0 0 24px;
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
}