:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-background-color: #2F303A;
}
body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
/* Логотип */
.logo { font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: var(--primary-text-color);
}
.logostyle {
    color: var(--accent-color)
}
img {
    width: 370px;
}
.image-small {
    width: 270px;
}

.list {
    list-style: none;
}

.site-nav .link {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus
{
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
} 

.address-header {
    color: var(--secondary-background-color);
    font-size: 14x;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.address-header:hover,
.address-header:focus {
    color:var(--accent-color)
}

.solutions {
    background-color: #2F303A;;
}
.solutions-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
.advantages {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
}
.advantages-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: var(--secondary-text-color);

}
.our-team {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
}
.team-speciality {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
    color: var(--secondary-text-color);

}
.button-primary { 
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.button-secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}


.button:hover, 
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
footer {
    background-color: #2F303A;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}
.address-footer {
    color: rgba(255, 255, 255, 0.6);
}
footer > .logo {
    color: #FFFFFF;
}
.portfolio-projects {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-type {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
}